<template name="nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ pathFor 'landing' }}">
          <img src="/images/logo.png" alt="Raffles logo" />
        </a>
      </div>

      <ul class="nav navbar-nav">
        {{#if isAdmin}}
        <li><a href="{{ pathFor 'raffleList' }}">View Raffles</a></li>
        <li><a href="{{ pathFor 'tools' }}">Tools</a></li>
        <li><a href="/admin" style="color: red;">Admin</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
