<template name="nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ pathFor 'home' }}">
          Daily Raffles
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="{{ pathFor 'raffles' }}">Raffles</a></li>
        {{#if isAdmin}}
        <li><a href="{{ pathFor 'admin' }}">Admin</a></li>
        {{/if}}
      </ul>
      <p class="navbar-text navbar-right">{{> loginButtons}}</p>
    </div>
  </nav>
</template>
