<template name="home">
  {{#with currentRaffle}}
  <div class="col-xs-12 col-md-6 col-md-offset-3 raffle">
    <h1>{{ title }}</h1>
    <p>
      Ends in: <strong class="raffle-ends-in">{{ dateFromNow endDate }}</strong><br>
      Tickets Remaining: <strong>{{ ticketsRemaining }}</strong><br>
    </p>
    <p>
      <img class="raffle-main-image center-block img-responsive" src="{{ mainImage }}" alt="{{ title }}">
    </p>
    <a href="/raffles/{{ _id }}" class="btn btn-success btn-lg btn-block btn-buy-ticket">Buy Ticket ${{ entryPrice }}</a>
  </div>
  {{/with}}
</template>