<template name="landing">
  <section class="landing container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1>Win great prizes,<br>help a local charity.</h1>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <img src="/images/landing-1.png" class="img-circle landing-image" />
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p class="lead">We host online raffles every day. Tickets start as low as $5 and all proceeds are donated to charity.</p>
        <a href="/home" class="btn btn-lg btn-primary">See Today's Raffle<i class="glyphicon glyphicon-arrow-right"></i></a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <i class="heading-icon glyphicon glyphicon-gift"></i>
        <p>Your first ticket is on us, no strings attached.</p>
        <a href="/home" class="btn btn-lg btn-primary">Claim Your Free Ticket<i class="glyphicon glyphicon-arrow-right"></i></a>
      </div>
    </div> -->
  </section>
</template>