<template name="raffleList">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Ticket Price</th>
        <th>Retail Price</th>
      </tr>
    </thead>
    <tbody>
    {{#each raffles}}
      <tr>
        <td><a href="{{ pathFor route='raffleEdit' }}">{{ title }}</a></td>
        <td>{{ prettyDate startDate }}</td>
        <td>{{ prettyDate endDate }}</td>
        <td>{{ currency entryPrice }}</td>
        <td>{{ currency retailPrice }}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>