body {
  padding: 30px;
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

footer p {
  text-align: center;
  color: #888;
}

.raffle {
  text-align: center;
}

.raffle > h1 {
  font-size: 60px;
  padding-bottom: 20px;
}

.raffle > p {
  padding-bottom: 20px;
}

.raffle-main-image {
}