/* Global styles */

body {
  padding: 30px;
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

footer p {
  text-align: center;
  color: #888;
}

table > thead.centered > tr > th {
  text-align: center;
}

/* Buttons */
.btn > .glyphicon-right {
  padding-left: 10px;
}

.btn > .glyphicon-left {
  padding-right: 10px;
}

/* Navbar */
.navbar-brand {
  margin-right: 40px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
}

/* Helpers */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* Raffles */
.raffle {
}

.raffle > h1 {
  font-size: 60px;
  padding-bottom: 20px;
}

.raffle > p {
  padding-bottom: 20px;
}

.raffle-main-image {
}

.raffle-assurances {
  margin-top: 60px;
  text-align: center;
}

.raffle-assurances > div:first-child {
  border-right: 1px solid #eee;
}

.raffle-assurances .glyphicon {
  font-size: 36px;
  display: block;
  margin: 20px 0;
  color: #999;
}